<!DOCTYPE html>
<html>
    <head>
        <title>GameClear</title>
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/gameclear.css' />
        <script src="/javascripts/jquery-3.1.0.min.js"></script>
    </head>
      <body>
        <script src="/javascripts/gameclear.js"></script>
        <div class="text-gameclear"><img class="img-gameclear" src="images/gameclear_text.png"></div>
        <div class="btn-screen-transition">
            <a class="btn" href="/">タイトルへ</a>
            <a class="btn" href="/game">リスタート</a>
        </div>
      </body>
</html>
