<!DOCTYPE html>
<html>
  <head>
    <title>Multi Invader Game</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
	  <script src="/socket.io/socket.io.js"></script>
	  <script src="/javascripts/jquery-3.1.0.min.js"></script>
	  <script src="/javascripts/client.js"></script>
  </head>
  <body>
    <div id="bg">
	    <img src="/images/unit.png" class="player" id="my-player" />
	    <img src="/images/bullet.png" class="bullet" id="my-bullet" />
    </div>
  </body>
</html>
