<!DOCTYPE html>
<html>
  <head>
    <title>Multi Invader Game</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/start-screen.css' />
	  <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/start-screen.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div class="logo fade"><img class="img-logo" src="images/logo.png"></div>
      <div id="loading"><img src="images/loader.gif"></div>
      <div class="click fade"><span class="flash">Start Game</span></div>
    </div>
  </body>
</html>
